{{ "style-navigation-contacts.css" | asset_url | stylesheet_tag }}
<div class="nav-contacts__container">
  <div class="nav-contacts__row">
    <div class="nav-contacts__box">
      <p class="nav-contacts__box--time">Mon-Fri:
      </p>
      <p>9:00 AM - 5:30 PM</p>
    </div>
    <div class="nav-contacts__box">
      Visit our showroom in 1234 Street Adress City Address, 1234
      <a class="nav-contacts__box--contact-link" href="#">Contact Us</a>
    </div>
    <div class="nav-contacts__box">
      <p>Call Us: (00) 123 4567</p>
      <a class="nav-contact__icon--facebook" href="https://www.facebook.com/abduganievanvar99/">
      </a>
      <a class="nav-contact__icon--instagram" href="https://www.instagram.com/a.n.v.a.r___/">
      </a>
    </div>
  </div>
</div>