.nav-contacts__container {
  background-color: #000000 ;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.4rem;
}
.nav-contacts__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.nav-contacts__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}
.nav-contacts__box--time {
  color: #A2A6B0;
  margin-right: 0.8rem;
}
.nav-contacts__box--contact-link {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  margin-left: 0.8rem;
}
.nav-contact__icons {
  margin-left: 15px;
}
.nav-contact__icon:last-child {
  margin-left: 8px;
}