.nav_container {
  background-color: #fff;
  border-bottom: 1px solid #cacdd8;
  width: 100%;
  height: auto;
}

.nav_row {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
  align-items: center;
  height: 100%;
}

.nav_links-content {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
  align-items: center;
}

.nav_link-url {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}

.nav_link-deals {
  border-radius: 50px;
  border: 2px solid #0156ff;
  padding: 8px 26px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.nav_link-deals--url {
  text-decoration: none;
  color: #0156ff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.nav_left-icons {
  display: flex;
  justify-self: end;
  gap: 0 28px;
  align-items: center;
}

.dropbtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(./account_img.png);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  right: 0;
  top: 55px;
  border: 1px solid rgb(187, 187, 187);
}

.dropdown-content .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-item:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
